Repository FarhadManiCodes/flake8_patterns: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-plugin-import, run-our-plugin

.pre-commit-config.yaml:

# .pre-commit-config.yaml
---
repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']  # Prevent files larger than 500KB
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [--line-length=88]
        language_version: python3.13

  # Import sorting (compatible with black)
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile, black, --line-length=88]

  # Modern Python syntax upgrades
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  # Fast linting with Ruff (replaces many tools)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        # Focus on important rules for a linting plugin
        files: ^(src/|tests/).*\.py$

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [typing_extensions]
        args: [--strict, --show-error-codes, --no-namespace-packages]
        # Only check source code, not tests (tests can be less strict)
        files: ^src/flake8_patterns/.*\.py$

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, src/]
        files: ^src/flake8_patterns/.*\.py$

  # Test our own flake8 plugin (local hook)
  - repo: local
    hooks:
      - id: test-plugin-import
        name: "Test plugin imports correctly"
        entry: python -c "import sys; sys.path.insert(0, 'src'); from flake8_patterns import PerformanceChecker; print('✅ Plugin imports successfully')"
        language: python
        pass_filenames: false
        files: ^src/flake8_patterns/.*\.py$

      - id: run-our-plugin
        name: "Test our plugin on examples"
        entry: bash -c "
          if [ -f examples/bad_patterns.py ]; then
            python -m flake8 --select=HP,PC,EP examples/bad_patterns.py || echo '✅ Plugin detected issues as expected';
          else
            echo '⚠️ No examples/bad_patterns.py found, skipping plugin test';
          fi
          "
        language: system
        pass_filenames: false
        files: ^(src/flake8_patterns/|examples/).*\.py$

  # Check for common issues in setup files
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.5.0
    hooks:
      - id: setup-cfg-fmt
        files: ^setup\.cfg$

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject

# Global configuration
default_language_version:
  python: python3

# Only run on commit (not push) for faster workflow
default_stages: [pre-commit]

# Don't fail fast - run all hooks even if some fail
fail_fast: false

# Configure for GitHub Actions
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_schedule: monthly
  ekip: [test-plugin-import, run-our-plugin]  # Skip local hooks in CI

chore(pre-commit): Update hook versions and fix type hints
  .pre-commit-config.yaml
  src/flake8_patterns/checker.py
  tests/conftest.py
Due: test-plugin-import, run-our-plugin

refactor: Rename PerformanceChecker to PatternChecker and update flake8 entry point
  .pre-commit-config.yaml
  pyproject.toml
Due: none

refactor: Rename PerformanceChecker to PatternChecker and enable type annotation checks
  .pre-commit-config.yaml
  pyproject.toml
  scripts/verify_installation.py
  src/flake8_patterns/__init__.py
  src/flake8_patterns/checker.py
  tests/conftest.py
Due: test-plugin-import, run-our-plugin

feat: Bump version to 0.1.1 and apply consistency fixes
  CLAUDE.md
  GEMINI.md
  README.md
  pyproject.toml
  scripts/verify_installation.py
  src/flake8_patterns/__init__.py
  src/flake8_patterns/checker.py
Due: test-plugin-import, run-our-plugin

Update ci.yml
  .github/workflows/ci.yml
Due: none

refactor: change prefix EP to EFP and introduce HPP
  .github/workflows/ci.yml
  CLAUDE.md
  GEMINI.md
  LICENSE-2.0.txt
  README.md
  docs/analysis/effective_python_comprehensive.md
  docs/analysis/high_performance_python_planned.md
  docs/analysis/index.md
  docs/analysis/summary.md
  docs/index.md
  docs/rules/EFP105.md
  docs/rules/EFP213.md
  docs/rules/EFP318.md
  docs/rules/EFP320.md
  docs/rules/EFP321.md
  docs/rules/EFP426.md
  docs/rules/assignment_patterns.md
  docs/rules/dictionary_patterns.md
  docs/rules/index.md
  docs/rules/iteration_patterns.md
  docs/rules/string_operations.md
  examples/bad_patterns.py
  examples/good_patterns.py
  pyproject.toml
  scripts/verify_installation.py
  src/flake8_patterns/__init__.py
  src/flake8_patterns/book_refs.py
  src/flake8_patterns/checker.py
  src/flake8_patterns/messages.py
  tests/conftest.py
  tests/test_tier1_rules.py
Due: test-plugin-import, run-our-plugin

style: clean up whitespace and formatting across examples and CI
  .github/workflows/ci.yml
  examples/bad_patterns.py
  examples/good_patterns.py
  src/flake8_patterns/checker.py
Due: test-plugin-import, run-our-plugin

fix(ci): correct pre-commit hook and verification script
  .pre-commit-config.yaml
  scripts/verify_installation.py
  tests/conftest.py
Due: none

fix(ci): add temporary testing strategy to unblock CI
  .github/workflows/ci.yml
  CI_STATUS.md
  test_ci_basic.py
Due: none

style(ci): apply automated formatting to CI-related files
  CI_STATUS.md
  test_ci_basic.py
Due: none

feat: Drop Python 3.10 support and update CI/tooling
  .github/workflows/ci.yml
  CI_STATUS.md
  pyproject.toml
  src/flake8_patterns/__init__.py
  src/flake8_patterns/checker.py
  src/flake8_patterns/utils.py
  test_ci_basic.py
Due: test-plugin-import, run-our-plugin

build(python-version): Update minimum Python version to 3.11
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
Due: none

refactor(python-modernization): update code to leverage Python 3.11+ features
  CI_STATUS.md
  examples/good_patterns.py
Due: run-our-plugin

feat(readme): Update README with project status, badges, and installation verification
  README.md
Due: none

refactor(rules): separate rule patterns into individual modules
  src/flake8_patterns/checker.py
  src/flake8_patterns/rules/__init__.py
  src/flake8_patterns/rules/assignment_patterns.py
  src/flake8_patterns/rules/comprehension_patterns.py
  src/flake8_patterns/rules/dictionary_patterns.py
  src/flake8_patterns/rules/function_patterns.py
  src/flake8_patterns/rules/iteration_patterns.py
  src/flake8_patterns/rules/string_patterns.py
Due: test-plugin-import, run-our-plugin

feat(linter): add linter.sh script
  linter.sh
Due: none

fix: remove unnecessary __init__.py
  __init__.py
Due: none

chore: remove linter.sh
  linter.sh
Due: none

Revert "chore: remove linter.sh"
  linter.sh
Due: none

fix(pre-commit): resolve ruff and mypy errors
  pyproject.toml
  src/flake8_patterns/checker.py
  src/flake8_patterns/rules/__init__.py
  src/flake8_patterns/rules/assignment_patterns.py
  src/flake8_patterns/rules/comprehension_patterns.py
  src/flake8_patterns/rules/dictionary_patterns.py
  src/flake8_patterns/rules/function_patterns.py
  src/flake8_patterns/rules/iteration_patterns.py
  src/flake8_patterns/rules/string_patterns.py
Due: test-plugin-import, run-our-plugin

fix(ci): update safety check to safety scan
  .github/workflows/ci.yml
Due: none

chore(ci): skip safety report generation when unauthenticated
  safety-report.json
Due: none

fix(ci): correct safety scan command
  .github/workflows/ci.yml
Due: none

chore(ci): remove stale safety report
  safety-report.json
Due: none

ci(workflows): separate safety scan into dedicated workflow
  .github/workflows/ci.yml
  .github/workflows/safety_scan.yml
Due: none

Update README.md
  README.md
Due: none

refactor(ci): remove safety scan from ci pipeline
  .github/workflows/ci.yml
  .github/workflows/safety_scan.yml
Due: none

update the .gitignore file
  .gitignore
Due: none

feat(tests): implement comprehensive EFP105 rule redundancy analysis system
  tests/rule_analysis/__init__.py
  tests/rule_analysis/analyze_rule.py
  tests/rule_analysis/efp105_analysis.py
  tests/rule_analysis/report_generator.py
Due: none

config(ruff): add per-file ignores for analysis modules and examples
  pyproject.toml
Due: none

style: apply pre-commit formatting fixes
  examples/bad_patterns.py
  examples/good_patterns.py
  scripts/verify_installation.py
  test_ci_basic.py
Due: run-our-plugin

feat(EFP105): refine detection logic for sequential indexing
  src/flake8_patterns/rules/assignment_patterns.py
  tests/rule_analysis/efp105_analysis.py
Due: test-plugin-import, run-our-plugin

refactor(EFP105): reduce code complexity to fix linting errors
  src/flake8_patterns/rules/assignment_patterns.py
  tests/rule_analysis/__init__.py
  tests/rule_analysis/analyze_rule.py
  tests/rule_analysis/efp105_analysis.py
  tests/rule_analysis/report_generator.py
Due: test-plugin-import, run-our-plugin

fix(ci): resolve pre-commit hook errors
  .pre-commit-config.yaml
  src/flake8_patterns/rules/assignment_patterns.py
Due: test-plugin-import, run-our-plugin

fix(mypy): ensure integer type filtering in indices list comprehension
  src/flake8_patterns/rules/assignment_patterns.py
Due: test-plugin-import, run-our-plugin

fix(examples): shorten comment to resolve E501 line length error
  examples/good_patterns.py
Due: run-our-plugin

docs(project): update status to reflect EFP105 completion
  CLAUDE.md
  GEMINI.md
  README.md
Due: none
